body {
	background-color:black;
	color:#555555;
}

h4 {
	font-family:sans-serif;
	color:#555555;
	font-size:16px;
}

h3 {
	font-family:sans-serif;
	color:#555555;
}

p {
	font-family:sans-serif;
	color:#888888;
	font-size:14px;
}

a {
	font-family:sans-serif;
	color:#d15423;
	text-decoration:none;
}

.table_list {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #222d32;
	width:100px;
}

.table_list > li {
	position: relative;
	margin: 0;
	padding: 0;
}
.table_list > li > a {
	padding: 12px 5px 12px 15px;
	display: block;
	border-left: 3px solid transparent;
	color: #b8c7ce;
}

.table_list > li:hover > a,
.table_list > li.active > a {
	color: #fff;
	background: #1e282c;
	border-left-color: #3c8dbc;
}
.table_list > li .label,
.table_list > li .badge {
	margin-top: 3px;
	margin-right: 5px;
}
.table_list li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
	color: #4b646f;
	background: #1a2226;
}
.table_info {
	position: absolute;
	top: 0;
	height: 100%;
	width:100%;
	min-height: 100%;
	background-color: black;
}
.graph {}

.article {
	float:right;
	width:90%;
	height:800px;
}
.white_content{
	display:none;
	position:absolute;
	top:25%;
	left:25%;
	width:20%;
	height:50%;
	padding:16px;
	border:2px solid orange;
	background-color:#222d32;
	z-index:1002;
	overflow:auto;
}
.close {
	position:absolute;
	width:80%;
	height:5%;
	top:0%;
	float:right;
}

.form {
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
}

.textarea_write {
	width: 100%;
	height: 40%;
	position:absolute;
	color:white;
	top:55%;
	background-color:#222d32;
}

.textarea_read {
	width: 100%;
	height: 40%;
	position:absolute;
	color:white;
	top:5%;
	background-color:#222d32;
}
.input {
	width: 100%;
	height: 5%;
	position:absolute;
	color:white;
	top:50%;
	background-color:#222d32;
}
