<div id="table_info" class="table_info">
	<div id="table_list" class="table_list">
		<li class="header">数据头</li>
		{% for table_key in table_list %}
			<li><a href="javascript:void(0)" onclick="">{{ table_key }}</a></li>
		{% end %}
	</div>
	<div id="graph" class="graph"></div>
</div>
<script type="text/javascript">
	var load_dot = function(){
		var dot = Viz({{ dot }},{ engine: "dot" });
		var graph = document.getElementById("graph");
		graph.innerHTML = dot;
	};
	load_dot();
</script>
